* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
}

body {
  width: 99%;
  height: 100%;
  background: rgb(104, 57, 102);
  overflow: auto;
}

.container {
  margin: 1rem 1rem;
}

.header {
  max-width: fit-content;
  padding: 0.8rem;
  margin: 1.3rem auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.849);
}

.card_news {
  max-width: 800px;
  height: 550px;
  padding: .6rem 1rem;
  margin: 1.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
  background: rgba(255, 183, 183, 0.452);
  overflow: auto;
  scroll-behavior: inherit;
}

.card_news::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.card {
  max-width: 800px;
  padding: .6rem 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  background: #fff;
}

.titlenews_style {
  margin-left: 100px;
}

.viewsrate_style {
  margin-left: 30px;
}

/* ================================== */
.btn_header {
  font-size: 16px;
  background: none;
  border: 0px;
  border-bottom: 6px solid gray;
  padding: 8px 5px;
  margin: 0 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.active {
  border-bottom: 6px solid rgb(0, 196, 0);
}

.btn_header:hover {
  border-bottom: 6px solid rgb(0, 196, 0);
}
/* ================================== */

.btn_open {
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  color: white;
  border: 0;
  background: rgb(35, 165, 35);
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.2s;
}

.btn_close {
  color: #555555;
  border-left: 3px solid red;
  border-radius: 0;
  padding: 5px 7px;
  background: none;
}

.btn_open:hover {
  background: rgba(35, 165, 35, 0.671);
}

.btn_close:hover {
  color: #000000;
  background: none;
}

.check_mark_hide {
  display: none;
}

/* ================================== */

.btn_read {
  font-size: 14px;
  margin-right: 10px;
  padding: 5px 10px;
  color: white;
  border: 0;
  background: rgb(35, 165, 35);
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.2s;
}

.unread {
  background: rgb(128, 128, 128);
}
/* ================================== */

.card_tasks {
  margin: 0;
  text-align: center;
}

.small_help {
  font-size: 14px;
  font-weight: normal;
  float: right;
  margin-top: 10px;
  color: #00000088;
}

.input_task {
  width: 600px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

.add_task {
  font-size: 16px;
  margin-left: 15px;
  padding: 7px 10px;
  color: white;
  border: 0px;
  border-radius: 5px;
  background: rgb(69, 175, 48);
  cursor: pointer;
  transition: all 0.3s;
}

.add_task:hover {
  background: rgba(69, 175, 48, 0.726);
}

.task_list {
  width: 100%;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 7px;
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

.task_item {
  width: 100%;
  background: rgb(223, 223, 223);
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}

.changed {
  background: rgba(89, 187, 110, 0.404);
}

.changed_active {
  border-bottom: 2px solid green;
}

.task_button {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background: rgb(223, 223, 223);
}

.task_item:hover {
  background: rgba(46, 181, 31, 0.247);
  transition: 0.3s;
}
.task_item:active {
  transition: 0s;
}

.delete_task {
  width: 20px;
  height: 20px;
  font-size: 16px;
  background: rgba(196, 74, 74, 0.767);
  color: white;
  cursor: pointer;
  border: 1px solid rgb(107, 107, 107);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.delete_task:hover {
  background: rgba(196, 74, 74, 0.938);
}

.delete_task:disabled {
  background: rgba(136, 136, 136, 0.938);
  cursor: not-allowed;
}

.delete_task_all {
  font-size: 16px;
  color: white;
  background: rgba(196, 74, 74, 0.938);
  border: 0;
  border-radius: 5px;
  padding: 7px 10px;
  margin-left: 15px;
  cursor: pointer;
}

.delete_task_all:hover {
  background:rgba(196, 74, 74, 0.74);
  transition: all 0.3s;
}
/* ================================== */

/* ======    NOTES   ======== */

.template_notes {
  max-width: 800px;
  padding: .6rem 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  background: #fff;
  display: flex;
}

.card_notes {
  width: 300px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  background: #fff;
}

.card_textarea {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  background: #fff;
}

.textarea {
  width: 450px;
  height: 150px;
  padding: 0.5rem;
  resize: none;
}

.add_note {
  font-size: 16px;
  padding: 7px 10px;
  margin-top: 10px;
  color: white;
  border: 0px;
  border-radius: 5px;
  background: rgb(69, 175, 48);
  cursor: pointer;
  transition: all 0.3s;
}

.clear_allnotes {
  font-size: 16px;
  padding: 7px 10px;
  margin-top: 10px;
  float: right;
  color: white;
  border: 0px;
  border-radius: 5px;
  background: rgb(175, 48, 48);
  cursor: pointer;
  transition: all 0.3s;
}

.notesItem {
  cursor: pointer;
  padding: 2px 3px;
  transition: all 0.2s;
}

.notesItem:hover {
  background: rgba(0, 0, 0, 0.247);
}
/* ================================== */


.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #000000;
  background: -moz-linear-gradient(left, #7e7e7e 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #7e7e7e 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #7e7e7e 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #7e7e7e 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #7e7e7e 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #7e7e7e;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}